* {
  box-sizing: border-box;
}
body {
  background: cornsilk;
  text-align: center;
  font-family: Arial;
  font-weight: bolder;
}

img{
 width: 70%; 
 height: 40%;
 border-radius: 5px;
 margin-top: 20px;
}
.btn-container{
  display: flex;
 width:100%;
justify-content: space-evenly;
align-items: center;

}
ul li {
list-style: none;
text-align: left;
}

.tabs {
  border: 1px solid #cccccc;
 display: flex;
 flex-wrap:wrap; 
  border-radius: 5px;
  width: 100%;
  height: 40%;
  background-color: white;
  margin: 10px auto;
  padding: 15px;
}

.tabs__menu {
  height: 30px;
  width: 100%;
  background: #cccccc;
  border-radius: 5px 0 0 5px;
  position: relative;
  /* display:grid;
  grid-template-rows: 1fr;
  grid-template-columns:repeat(3,1fr); */
}

.tabs__button {
  padding: 10px;
  background: #eeeeee;
  border: none;
  outline:none;
  cursor: pointer;
  font-weight: bolder;
  font-size: 16px;
}

.tabs__button:active {
  background: white;
  color: lightseagreen;
  border-bottom: rgb(165, 233, 229);
  border-right: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
}

.tabs__button:hover {
  background: rgb(165, 233, 229);
  color: white;
  text-shadow:
  -1px -1px 0 #000,  
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
}

.tabs__button--active {
  background-color: white;
  color: lightseagreen;
}
.tabs__content {
  padding: 15px;
  font-size: 0.8rem;
  display: none;
}
.tabs__content--active {
  display: block;
  width:100%;

}

@media only screen and (min-width: 768px) {
  .tabs {
      width: 45%;
      height: 30%;
      margin: auto 5%;
  }
  img {
      width: 45%;
      height: 30%;
      margin-left: 5%;
  }
  main {
      display: flex;
      justify-content: center;
  }
}
@media only screen and (min-width: 992px) {
  .tabs {
      width: 35%;
      height: 30%;
  }
  img {
      width: 35%;
      height: 30%;
      margin-left: 15%;
  }
  main {
      display: flex;
      justify-content: center;
  }
}